<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaowei.mh.mapper.mapper.MhSenceMapper">
    <resultMap id="BaseResultMap"  type="com.xiaowei.mh.mapper.dataobject.XwMhSenceDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="MH_USE" property="mhUse" jdbcType="VARCHAR" javaType="String"/>
        <result column="MH_CODE" property="mhCode" jdbcType="VARCHAR" javaType="String"/>
        <result column="MH_LOAD" property="mhLoad" jdbcType="VARCHAR" javaType="String"/>
        <result column="MH_SIZE" property="mhSize" jdbcType="VARCHAR" javaType="String"/>
        <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" javaType="String"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="DEVICE_NO" property="deviceNo" jdbcType="VARCHAR" javaType="String"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="SENCE_UUID" property="senceUuid" jdbcType="VARCHAR" javaType="String"/>
        <result column="MH_MATERIAL" property="mhMaterial" jdbcType="VARCHAR" javaType="String"/>
        <result column="TRAFFIC_FLOW" property="trafficFlow" jdbcType="VARCHAR" javaType="String"/>
        <result column="PRINCIPAL_PHONE" property="principalPhone" jdbcType="VARCHAR" javaType="String"/>
        <result column="SENCE_PRINCIPAL" property="sencePrincipal" jdbcType="VARCHAR" javaType="String"/>
        <result column="MH_YEARS" property="mhYears" jdbcType="INTEGER" javaType="Integer"/>
        <result column="MH_END_TIME" property="mhEndTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="SENCE_INSTALL_TIME" property="senceInstallTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,MH_USE,MH_CODE,MH_LOAD,MH_SIZE,DEL_FLAG,CREATE_BY,DEVICE_NO,UPDATE_BY,SENCE_UUID,MH_MATERIAL,TRAFFIC_FLOW,PRINCIPAL_PHONE,SENCE_PRINCIPAL,MH_YEARS,MH_END_TIME,CREATE_TIME,UPDATE_TIME,SENCE_INSTALL_TIME
    </sql>
    <select id="ecSenceByNo" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xw_mh_sence
        where
        device_no=#{deviceNo,jdbcType=VARCHAR}
    </select>

</mapper>
